html, body {
    height:100%;
    padding: 0;
    margin: 0;
    color: white;
  }
html{
    background-image: url('1.jpg');
    background-size: cover;
}
body {
    background: rgba(0, 0, 0, 0.466);
}
#home-content{
    text-align: center;
    padding-top: 20%;
}
.btn{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.btn {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px, 0 0 100px cyan, 0 0 200px cyan;
}
